* {
    margin: 0;
    padding: 0;

}
body {
    background-color: #000a1f;
}

.container {
    margin: 100px 0 0 200px;
    width: 75%;
    height: 450px;
    gap: 5px;
    display: flex;
    justify-content: center;

}
.container img {
    width: 15%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border:  2px solid rgb(255, 255, 255);
    transition: all ease-in-out 0.3s;

}
.container img:hover {
    width: 25%;

}